*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background-color: brown;
    color: blueviolet;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}